    body {
        background-color: brown;
    }
    
    h1 {
        color: black;
        text-align: justify;
        background-color: aqua;
        font-size: 100%;
    }
    
    p {
        color: green;
        background-color: black;
    }