/* body {
    background: url(/8thday/index.jpg );
    background-repeat: no-repeat;
    /* background-attachment: fixed; 

background-size: cover;

}
img {
    width: 200px;
    height: 200px;
}
.ekd {
    color: #D4145A;
}
p {
    color: aliceblue;
}
.ski {
    color: #D4145A;
}
h3 {
    color: aliceblue;
    size: 40px;
}
input {
    width: 200px;
    height: 50px;
    box-shadow: 5px cornsilk;
}
*/